# Archivos Python
*.pyc
__pycache__/

# Base de datos local
#*.sqlite3

# Archivos de entorno
.env

# Archivos del sistema
.DS_Store
Thumbs.db

# Respaldos y carpetas temporales
*backup*/

# Oracle Wallet
wallet_g4db/
oracle_wallet/
*.ora
*.sso
*.p12
*.jks
*.pem