{% extends 'web/base.html' %}
{% load static %}
{% block title %}Gestión de Usuarios{% endblock %}

{% block content %}
<div class="contenedor-principal">
    <div class="container">
        <h2>Lista de Usuarios Registrados</h2>
        <div style="overflow-x: auto;">
        <table class="table table-striped table-bordered" style="width: 100%; table-layout: fixed; word-wrap: break-word; font-size: 20px;">
            <thead class="table-dark">
                <tr>
                    <th>Acciones</th>
                    <th>Nombre</th>
                    <th>Usuario</th>
                    <th>Correo</th>
                    <th>Rol</th>
                    <th>Fecha Nacimiento</th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in usuarios %}
                <tr>
                    <td>
                        <div style="display: flex; flex-direction: column; justify-content: space-between; gap: 5px;">
                            <form method="get" action="{% url 'editar_usuario' usuario.id %}">
                                <button type="submit" class="btn btn-warning btn-sm" style="font-size: 18px; border-radius: 7px;">Modificar</button>
                            </form>
                            
                            <form method="POST" action="{% url 'eliminar_usuario' usuario.id %}" onsubmit="return confirm('¿Estás seguro de eliminar este usuario?');">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger btn-sm" style="font-size: 18px; border-radius: 7px;">Eliminar</button>
                            </form>
                        </div>
                    </td>
                    <td>{{ usuario.nombre_completo }}</td>
                    <td>{{ usuario.nombre_usuario }}</td>
                    <td>{{ usuario.correo_electronico }}</td>
                    <td>{{ usuario.rol|capfirst }}</td>
                    <td>{{ usuario.fecha_nacimiento }}</td>
                </tr>
                {% empty %}
                <tr><td colspan="6" class="text-center">No hay usuarios registrados.</td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</div>

{% endblock %}
