<!-- base.html -->
{% load static %}
{% load custom_filters %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Juega con Nosotros{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>

    {% include 'web/navbar.html' %}  


    {% if usuario_nombre %}
    <div class="bienvenida" style="background-color: #5f449a; color: white; text-align: center; padding: 10px; font-size: 18px;">
        Hola:   
        <strong>
            <a href="{% url 'perfil' %}" style="color: white; text-decoration: underline;">
                {{ usuario_nombre }}  ({{ usuario_rol }})
            </a>
        </strong>!
    </div>
    {% endif %}

    {% block content %}{% endblock %}

    <footer>
        <p>&copy; 2025 Juega con Nosotros. Todos los derechos reservados.</p>
        <p>Este proyecto fue desarrollado por el Grupo 4 de Programación Web, Duoc UC 2025.</p>
    </footer>
    
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/login.js' %}"></script>
    <script src="{% static 'js/registro.js' %}"></script>
</body>
</html>