{% extends 'web/base.html' %}
{% load static %}
{% block title %}Carrito de Compras{% endblock %}

{% block content %}
<div class="contenedor-principal">
  <div class="col-12 d-flex justify-content-center">
    <h2 class="titulo">🛒 Carrito de Compras</h2>
  </div>
  <div class="col-12 col-md-8">
    <div class="contenido">
      <p>
        Tu carrito está vacío por ahora.<br> ¡Explora nuestras categorías y agrega tus juegos favoritos!
      </p>
      <div class="carrito-link mt-3 text-center">
        <p><a href="{% url 'index' %}">Volver al inicio</a></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
