{% extends 'web/base.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}Detalle {{ juego.nombre }}{% endblock %}

{% block content %}
    
    <div class="contenedor-principal">
        <div class="container mt-5">
            <div class="row justify-content-center">
                <!-- Imagen del juego -->
                <div class="col-12 col-lg-6 d-flex justify-content-center mb-4 mb-lg-0">
                    <div class="img-detalle">
                        <img src="{{ juego.imagen }}" alt="{{ juego.nombre }}" class="img-fluid">
                    </div>
                </div>
                <!-- Información del juego -->
                <div class="col-12 col-lg-6">
                    <div class="texto-container">
                        <p class="text-justify">
                            <strong>{{ juego.nombre }}</strong><br><br>
                            Plataformas: {{ juego.plataformas }}<br><br>
                            {{ juego.descripcion }}<br><br>
                            <strong>Precio: {{ juego.precio|formato_precio }}</strong>
                        </p>
                        <div class="boton-agregar-carrito">
                            <button id="agregarCarrito" class="btn-agregar" onclick="alert('✅ Agregado al carrito')">
                                <img src="{% static 'img/agregar-carrito.png' %}" alt="Agregar al carrito" class="agregar-carrito">
                                Agregar al carrito
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}