{% extends 'web/base.html' %}
{% load static %}
{% block title %}Editar Juego{% endblock %}

{% block content %}

<div class="contenedor-principal">
    <h2>Editar Juego: {{ Juego.titulo }}</h2>
    <form method="POST" enctype="multipart/form-data">  <!-- Aseguramos que se pueda subir una imagen -->
        {% csrf_token %}
        {{ form.as_p }}  <!-- Muestra el formulario -->
        <button type="submit">Guardar cambios</button>
    </form>
</div>


<a href="{% url 'juego_gestion' %}">Volver a la lista de juegos</a>
{% endblock %}
