{% extends 'web/base.html' %}
{% load static %}
{% block title %}Editar Usuario{% endblock %}

{% block content %}

<div class="contenedor-principal">
    <h2>Editar Usuario: {{ usuario.nombre_completo }}</h2>

    <form method="POST" class="contacto-form mx-auto" style="max-width: 600px;">
        {% csrf_token %}

        <div class="mb-3">
            {{ form.nombre_completo.label_tag }}
            {{ form.nombre_completo }}
        </div>

        <div class="mb-3">
            {{ form.nombre_usuario.label_tag }}
            {{ form.nombre_usuario }}
        </div>

        <div class="mb-3">
            {{ form.correo_electronico.label_tag }}
            {{ form.correo_electronico }}
        </div>

        <div class="mb-3">
            {{ form.fecha_nacimiento.label_tag }}
            {{ form.fecha_nacimiento }}
        </div>

        <div class="mb-3">
            {{ form.direccion_despacho.label_tag }}
            {{ form.direccion_despacho }}
        </div>

        <div class="mb-3">
            {{ form.rol.label_tag }}
            {{ form.rol }}
        </div>

        <div class="mb-3">
            {{ form.contrasena.label_tag }}
            {{ form.contrasena }}
        </div>

        <div class="mb-3">
            {{ form.repetir_contrasena.label_tag }}
            {{ form.repetir_contrasena }}
        </div>

        {% if form.errors %}
        <div class="alert alert-danger mt-3">
            <strong>Errores:</strong>
            <ul>
                {% for field in form %}
                    {% for error in field.errors %}
                        <li><strong>{{ field.label }}</strong>: {{ error }}</li>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        <div class="mb-3 text-muted">
            <p>Ingresa contraseña solo si deseas cambiarla.</p>
        </div>

        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-success">Guardar Cambios</button>
        </div>

        
    </form>
</div>


{% endblock %}




