{% extends 'web/base.html' %}
{% load static %}
{% block title %}Error Permisos{% endblock %}

{% block content %}

<div class="contenedor-principal">
    <div class="col-12 d-flex justify-content-center">
      <h2 class="titulo">No tienes permisos suficientes para acceder a esta página.</h2>
    </div>
    <div class="col-12 col-md-8">
      <div class="contenido">
        <p>
          Si crees que es un error, contacta a un administrador.
        </p>
          <div class="carrito-link mt-3 text-center">
            <p><a href="{% url 'index' %}">Volver al inicio</a></p>
        </div>
      </div>
    </div>


  </div>
  


{% endblock %}
