{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Juega con Nosotros - Tienda de Videojuegos</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <h1>Juega con Nosotros</h1>
        <h2 class="slogan">Descubre los mejores juegos al mejor precio</h2>
    </header>
    
    <nav class="navbar bg-dark navbar-dark">
        <div class="container">
            <ul class="navbar-nav ms-auto d-flex flex-row gap-4">
                <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Categorías</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'contacto' %}">Contacto</a></li>
                
                {% if not usuario_nombre %}
                <li class="nav-item"><a class="nav-link" href="{% url 'registro' %}">Registro</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Iniciar Sesión</a></li>
                {% endif %}
    
    
                {% if usuario_rol == 'administrador' %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'admin_usuarios' %}" title="Admin Usuarios" style="white-space: nowrap;">
                        👤 Admin Usuarios
                    </a>
                </li>
                
                {% endif %}
    
                {% if usuario_rol == 'administrador' or usuario_rol == 'vendedor' %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'juego_gestion' %}" title="Gestión Juegos" style="white-space: nowrap;">🎮 Gestión Juegos</a>  <!-- Nuevo enlace aquí -->
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'categoria_gestion' %}" style="white-space: nowrap;">📁 Gestión Categorías</a>
                </li>
                {% endif %}
    
                {% if usuario_nombre %}
                <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}" style="white-space: nowrap;">Cerrar Sesión</a></li>
    
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'perfil' %}" title="Mi Perfil">
                        <img src="{% static 'img/icono-perfil.png' %}" alt="Perfil" class="rounded-circle">
                    </a>
                </li>
                {% endif %}
    
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'carrito' %}" title="Carrito de Compras">
                        <img src="{% static 'img/icono-carrito.png' %}" alt="Carrito" class="rounded-circle">
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    {% if usuario_nombre %}
    <div class="bienvenida" style="background-color: #5f449a; color: white; text-align: center; padding: 10px; font-size: 18px;">
        Sesión iniciada como:  
        <strong>
            <a href="{% url 'perfil' %}" style="color: white; text-decoration: underline;">
                {{ usuario_nombre }}  ({{ usuario_rol }})
            </a>
        </strong>!
    </div>
    {% endif %}
    

  <div class="container-formulario">
    <div class="container mt-5 mx-auto">
      <div class="row">
          <div class="col-12 d-flex justify-content-center">
              <h2 class="titulo">👤 Mi Perfil</h2>
          </div>
          {% if messages %}
          <div class="container mt-4">
              {% for message in messages %}
              <div class="alert alert-success" role="alert">
                  {{ message }}
              </div>
              {% endfor %}
          </div>
          {% endif %}


          <div class="col-12 col-md-8">
              <form id="perfilForm" method="POST" class="contacto-form mx-auto" style="max-width: 600px;">
                  {% csrf_token %}
                  {{ form.as_p }}  
                  {% if form.errors %}
                    <div class="alert alert-danger mt-3">
                        <strong>Errores:</strong>
                        <ul>
                        {% for field in form %}
                            {% for error in field.errors %}
                            <li><strong>{{ field.label }}</strong>: {{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                        </ul>
                    </div>
                   {% endif %}

                 

                  <div class="mb-3">
                      <label for="rol" class="form-label"></label>
                      <p class="text-muted">Ingresa contraseña <br>sólo si quieres cambiarla.</p>
                  </div>
                  
                  <div class="d-grid gap-3">
                      <button type="submit" class="btn btn-custom">Guardar Cambios</button>

                  </div>
              </form>

              <div class="login-link mt-3 text-center">
                  <p><a href="{% url 'index' %}">Volver al Inicio</a></p>
              </div>
          </div>
      </div>
    </div>
  </div>

  <footer>
    <p>&copy; 2025 Juega con Nosotros. Todos los derechos reservados.</p>
    <p>Este proyecto fue desarrollado por el Grupo 4 de Programación Web, Duoc UC 2025.</p>
  </footer>


</body>
</html>
