{% extends 'web/base.html' %}
{% load static %}
{% block title %}Detalle {{ categoria.lema }}{% endblock %}

{% block content %}
        
<div class="contenedor-principal">
    <section id="categoria-info">
        <div class="categoria-info">
            <h3>{{ categoria.lema }}</h3>
            <p>{{ categoria.descripcion }}</p>
        </div>
        <section id="categorias">
            <div class="categorias">
                <!-- Mostrar los juegos de esta categoría -->
                {% for juego in juegos %}
                <div class="categoria2" onclick="location.href='{% url 'detalle_juego' juego.id %}'">
                    <img src="{{ juego.imagen }}" alt="{{ juego.nombre }}">
                    <h3>{{ juego.nombre }}</h3>
                </div>
                {% endfor %}
            </div>
        </section>
    </section>
</div>
{% endblock %}
